.prices 
    &__payments, &__label
        display: none 

    &__old 
        font-size: 16px
        font-size: regular 
        text-decoration: line-through
        color: #606062

    &__special 
        font-size: 24px
        font-weight: bold 

@media desktop 
    .prices
        &__container 
            display: flex 
            justify-content: space-between
            align-items: center 

div.cor_selecionada, img.cor_selecionada 
    border: 1px solid #4c989f!important
    margin: 0!important
    background: #51a8b138!important
